<main>
    <h1>Bienvenue !</h1>

    <mat-list role="list">
        <mat-list-item role="listitem">
            <a href = "/add-learner">Enregistrer un apprenant</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href = "/create-groups">Gestion des groupes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href = "/group-list">Liste des groupes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a href = "/learner-list">Liste des apprenants</a>
        </mat-list-item>
    </mat-list>
</main>

