<main>
    <h1>Bienvenue !</h1>

    <mat-list role="list">
        <mat-list-item role="listitem">
            <a mat-button routerLink = "/add-learner">Enregistrer un apprenant</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button routerLink = "/create-groups">Gestion des groupes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button routerLink = "/groups">Liste des groupes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button routerLink = "/learners">Liste des apprenants</a>
        </mat-list-item>
    </mat-list>
</main>
