<main>
    <h1>Bienvenue !</h1>

    <mat-list role="list">
        <mat-list-item role="listitem">
            <a mat-button routerLink = "">Enregistrer un apprenant</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button routerLink = "">Gestion des groupes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button routerLink = "">Liste des groupes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button routerLink = "/learners">Liste des apprenants</a>
        </mat-list-item>
    </mat-list>
</main>
